body {
    background-color: #03624C;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-family: 'Jockey One', sans-serif;
    font-family: 'jsMath-cmti10', serif;
    position: relative;
}

.imagenes {
    position: absolute;
    width: 100%;
    height: 100%;
}

.imagenes img {
    position: absolute;
    object-fit: cover;
}

.img1 {
    top: 0;
    left: 0;
}

.img2 {
    top: 0;
    left: 630px;
    width: auto;
    height: 350px; 
}

.img3 {
    top: 0;
    left: 1400px;
    width: 500px; 
    height: auto;
    position: absolute;
}

.login-section {
    padding: 20px;
    width: 300px;
    z-index: 1;
    position: absolute;
    top: 550px;
    left: 1100px;
    transform: translateY(-50%);
    font-family: 'Jockey One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-section h2 {
    font-size: 28px;
}


.label-corner {
    position: absolute;
    top: 800px;
    left: 1500px;
    font-size: 70px;
    color: #019C18;
    padding: 5px 10px;
    font-family: 'jsMath-cmti10', serif;
}