--
-- PostgreSQL database dump
--

\restrict 62N6T777gd27ms5laFWnwEmGNPW0hVgdsNqEoTgSYSe7TaYu9674fuKeg6IF7y8

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.ventas_venta DROP CONSTRAINT IF EXISTS ventas_venta_usuario_id_a710a973_fk_usuarios_usuario_id;
ALTER TABLE IF EXISTS ONLY public.ventas_venta DROP CONSTRAINT IF EXISTS ventas_venta_cliente_id_85f33a80_fk_clientes_clientes_cedula;
ALTER TABLE IF EXISTS ONLY public.ventas_detalleventa DROP CONSTRAINT IF EXISTS ventas_detalleventa_venta_id_c370bcd7_fk_ventas_venta_id_venta;
ALTER TABLE IF EXISTS ONLY public.ventas_detalleventa DROP CONSTRAINT IF EXISTS ventas_detalleventa_producto_id_a820c807_fk_productos;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario_user_permissions DROP CONSTRAINT IF EXISTS usuarios_usuario_use_usuario_id_60aeea80_fk_usuarios_;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario_user_permissions DROP CONSTRAINT IF EXISTS usuarios_usuario_use_permission_id_4e5c0f2f_fk_auth_perm;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario DROP CONSTRAINT IF EXISTS usuarios_usuario_rol_id_b0d64932_fk_usuarios_rol_id;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario DROP CONSTRAINT IF EXISTS usuarios_usuario_modificado_por_id_c33bde81_fk_usuarios_;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario_groups DROP CONSTRAINT IF EXISTS usuarios_usuario_groups_group_id_e77f6dcf_fk_auth_group_id;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario_groups DROP CONSTRAINT IF EXISTS usuarios_usuario_gro_usuario_id_7a34077f_fk_usuarios_;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario DROP CONSTRAINT IF EXISTS usuarios_usuario_eliminado_por_id_5edaa56b_fk_usuarios_;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario DROP CONSTRAINT IF EXISTS usuarios_usuario_creado_por_id_e1928e56_fk_usuarios_usuario_id;
ALTER TABLE IF EXISTS ONLY public.usuarios_passwordresettoken DROP CONSTRAINT IF EXISTS usuarios_passwordres_user_id_3c97028d_fk_usuarios_;
ALTER TABLE IF EXISTS ONLY public.productos_producto DROP CONSTRAINT IF EXISTS productos_producto_editado_por_id_4818f191_fk_usuarios_;
ALTER TABLE IF EXISTS ONLY public.productos_producto DROP CONSTRAINT IF EXISTS productos_producto_creado_por_id_6ad29e0b_fk_usuarios_;
ALTER TABLE IF EXISTS ONLY public.productos_producto DROP CONSTRAINT IF EXISTS productos_producto_categoria_id_1fef506a_fk_api_categ;
ALTER TABLE IF EXISTS ONLY public.django_admin_log DROP CONSTRAINT IF EXISTS django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id;
ALTER TABLE IF EXISTS ONLY public.django_admin_log DROP CONSTRAINT IF EXISTS django_admin_log_content_type_id_c4bce8eb_fk_django_co;
ALTER TABLE IF EXISTS ONLY public.auth_permission DROP CONSTRAINT IF EXISTS auth_permission_content_type_id_2f476e4b_fk_django_co;
ALTER TABLE IF EXISTS ONLY public.auth_group_permissions DROP CONSTRAINT IF EXISTS auth_group_permissions_group_id_b120cbf9_fk_auth_group_id;
ALTER TABLE IF EXISTS ONLY public.auth_group_permissions DROP CONSTRAINT IF EXISTS auth_group_permissio_permission_id_84c5c92e_fk_auth_perm;
ALTER TABLE IF EXISTS ONLY public.auditoria_auditlog DROP CONSTRAINT IF EXISTS auditoria_auditlog_usuario_id_10036f54_fk_usuarios_usuario_id;
ALTER TABLE IF EXISTS ONLY public.api_reporteproductosvendidos DROP CONSTRAINT IF EXISTS api_reporteproductos_reporte_id_de23fe7a_fk_api_repor;
DROP INDEX IF EXISTS public.ventas_venta_usuario_id_a710a973;
DROP INDEX IF EXISTS public.ventas_venta_cliente_id_85f33a80_like;
DROP INDEX IF EXISTS public.ventas_venta_cliente_id_85f33a80;
DROP INDEX IF EXISTS public.ventas_detalleventa_venta_id_c370bcd7;
DROP INDEX IF EXISTS public.ventas_detalleventa_producto_id_a820c807;
DROP INDEX IF EXISTS public.usuarios_usuario_username_be9def2b_like;
DROP INDEX IF EXISTS public.usuarios_usuario_user_permissions_usuario_id_60aeea80;
DROP INDEX IF EXISTS public.usuarios_usuario_user_permissions_permission_id_4e5c0f2f;
DROP INDEX IF EXISTS public.usuarios_usuario_rol_id_b0d64932;
DROP INDEX IF EXISTS public.usuarios_usuario_modificado_por_id_c33bde81;
DROP INDEX IF EXISTS public.usuarios_usuario_groups_usuario_id_7a34077f;
DROP INDEX IF EXISTS public.usuarios_usuario_groups_group_id_e77f6dcf;
DROP INDEX IF EXISTS public.usuarios_usuario_eliminado_por_id_5edaa56b;
DROP INDEX IF EXISTS public.usuarios_usuario_creado_por_id_e1928e56;
DROP INDEX IF EXISTS public.usuarios_usuario_cedula_6e40509a_like;
DROP INDEX IF EXISTS public.usuarios_rol_nombre_96a030f6_like;
DROP INDEX IF EXISTS public.usuarios_passwordresettoken_user_id_3c97028d;
DROP INDEX IF EXISTS public.unique_email_no_null;
DROP INDEX IF EXISTS public.productos_producto_editado_por_id_4818f191;
DROP INDEX IF EXISTS public.productos_producto_creado_por_id_6ad29e0b;
DROP INDEX IF EXISTS public.productos_producto_categoria_id_1fef506a;
DROP INDEX IF EXISTS public.django_session_session_key_c0390e0f_like;
DROP INDEX IF EXISTS public.django_session_expire_date_a5c62663;
DROP INDEX IF EXISTS public.django_admin_log_user_id_c564eba6;
DROP INDEX IF EXISTS public.django_admin_log_content_type_id_c4bce8eb;
DROP INDEX IF EXISTS public.clientes_clientes_cedula_ffa64315_like;
DROP INDEX IF EXISTS public.auth_permission_content_type_id_2f476e4b;
DROP INDEX IF EXISTS public.auth_group_permissions_permission_id_84c5c92e;
DROP INDEX IF EXISTS public.auth_group_permissions_group_id_b120cbf9;
DROP INDEX IF EXISTS public.auth_group_name_a6ea08ec_like;
DROP INDEX IF EXISTS public.auditoria_auditlog_usuario_id_10036f54;
DROP INDEX IF EXISTS public.api_reporteproductosvendidos_reporte_id_de23fe7a;
DROP INDEX IF EXISTS public.api_cliente_cedula_3784ac97_like;
DROP INDEX IF EXISTS public.api_categoria_nombre_categoria_00353524_like;
ALTER TABLE IF EXISTS ONLY public.ventas_venta DROP CONSTRAINT IF EXISTS ventas_venta_pkey;
ALTER TABLE IF EXISTS ONLY public.ventas_detalleventa DROP CONSTRAINT IF EXISTS ventas_detalleventa_pkey;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario DROP CONSTRAINT IF EXISTS usuarios_usuario_username_key;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario_user_permissions DROP CONSTRAINT IF EXISTS usuarios_usuario_user_permissions_pkey;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario_user_permissions DROP CONSTRAINT IF EXISTS usuarios_usuario_user_pe_usuario_id_permission_id_217cadcd_uniq;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario DROP CONSTRAINT IF EXISTS usuarios_usuario_pkey;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario_groups DROP CONSTRAINT IF EXISTS usuarios_usuario_groups_usuario_id_group_id_4ed5b09e_uniq;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario_groups DROP CONSTRAINT IF EXISTS usuarios_usuario_groups_pkey;
ALTER TABLE IF EXISTS ONLY public.usuarios_usuario DROP CONSTRAINT IF EXISTS usuarios_usuario_cedula_6e40509a_uniq;
ALTER TABLE IF EXISTS ONLY public.usuarios_rol DROP CONSTRAINT IF EXISTS usuarios_rol_pkey;
ALTER TABLE IF EXISTS ONLY public.usuarios_rol DROP CONSTRAINT IF EXISTS usuarios_rol_nombre_key;
ALTER TABLE IF EXISTS ONLY public.usuarios_passwordresettoken DROP CONSTRAINT IF EXISTS usuarios_passwordresettoken_pkey;
ALTER TABLE IF EXISTS ONLY public.productos_producto DROP CONSTRAINT IF EXISTS productos_producto_pkey;
ALTER TABLE IF EXISTS ONLY public.django_session DROP CONSTRAINT IF EXISTS django_session_pkey;
ALTER TABLE IF EXISTS ONLY public.django_migrations DROP CONSTRAINT IF EXISTS django_migrations_pkey;
ALTER TABLE IF EXISTS ONLY public.django_content_type DROP CONSTRAINT IF EXISTS django_content_type_pkey;
ALTER TABLE IF EXISTS ONLY public.django_content_type DROP CONSTRAINT IF EXISTS django_content_type_app_label_model_76bd3d3b_uniq;
ALTER TABLE IF EXISTS ONLY public.django_admin_log DROP CONSTRAINT IF EXISTS django_admin_log_pkey;
ALTER TABLE IF EXISTS ONLY public.clientes_clientes DROP CONSTRAINT IF EXISTS clientes_clientes_pkey;
ALTER TABLE IF EXISTS ONLY public.auth_permission DROP CONSTRAINT IF EXISTS auth_permission_pkey;
ALTER TABLE IF EXISTS ONLY public.auth_permission DROP CONSTRAINT IF EXISTS auth_permission_content_type_id_codename_01ab375a_uniq;
ALTER TABLE IF EXISTS ONLY public.auth_group DROP CONSTRAINT IF EXISTS auth_group_pkey;
ALTER TABLE IF EXISTS ONLY public.auth_group_permissions DROP CONSTRAINT IF EXISTS auth_group_permissions_pkey;
ALTER TABLE IF EXISTS ONLY public.auth_group_permissions DROP CONSTRAINT IF EXISTS auth_group_permissions_group_id_permission_id_0cd325b0_uniq;
ALTER TABLE IF EXISTS ONLY public.auth_group DROP CONSTRAINT IF EXISTS auth_group_name_key;
ALTER TABLE IF EXISTS ONLY public.auditoria_auditlog DROP CONSTRAINT IF EXISTS auditoria_auditlog_pkey;
ALTER TABLE IF EXISTS ONLY public.api_usuarios DROP CONSTRAINT IF EXISTS api_usuario_pkey;
ALTER TABLE IF EXISTS ONLY public.api_reporteproductosvendidos DROP CONSTRAINT IF EXISTS api_reporteproductosvendidos_pkey;
ALTER TABLE IF EXISTS ONLY public.api_reporte DROP CONSTRAINT IF EXISTS api_reporte_pkey;
ALTER TABLE IF EXISTS ONLY public.api_clientes DROP CONSTRAINT IF EXISTS api_cliente_pkey;
ALTER TABLE IF EXISTS ONLY public.api_categoria DROP CONSTRAINT IF EXISTS api_categoria_pkey;
ALTER TABLE IF EXISTS ONLY public.api_categoria DROP CONSTRAINT IF EXISTS api_categoria_nombre_categoria_key;
DROP TABLE IF EXISTS public.ventas_venta;
DROP TABLE IF EXISTS public.ventas_detalleventa;
DROP TABLE IF EXISTS public.usuarios_usuario_user_permissions;
DROP TABLE IF EXISTS public.usuarios_usuario_groups;
DROP TABLE IF EXISTS public.usuarios_usuario;
DROP TABLE IF EXISTS public.usuarios_rol;
DROP TABLE IF EXISTS public.usuarios_passwordresettoken;
DROP TABLE IF EXISTS public.productos_producto;
DROP TABLE IF EXISTS public.django_session;
DROP TABLE IF EXISTS public.django_migrations;
DROP TABLE IF EXISTS public.django_content_type;
DROP TABLE IF EXISTS public.django_admin_log;
DROP TABLE IF EXISTS public.clientes_clientes;
DROP TABLE IF EXISTS public.auth_permission;
DROP TABLE IF EXISTS public.auth_group_permissions;
DROP TABLE IF EXISTS public.auth_group;
DROP TABLE IF EXISTS public.auditoria_auditlog;
DROP TABLE IF EXISTS public.api_usuarios;
DROP TABLE IF EXISTS public.api_reporteproductosvendidos;
DROP TABLE IF EXISTS public.api_reporte;
DROP TABLE IF EXISTS public.api_clientes;
DROP TABLE IF EXISTS public.api_categoria;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_categoria; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.api_categoria (
    id_categoria integer NOT NULL,
    nombre_categoria character varying(50) NOT NULL,
    activo boolean NOT NULL
);


--
-- Name: api_categoria_id_categoria_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.api_categoria ALTER COLUMN id_categoria ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_categoria_id_categoria_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_clientes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.api_clientes (
    cedula character varying(20) NOT NULL,
    direccion text,
    correo character varying(100),
    nombre_cliente character varying(100) NOT NULL,
    telefono character varying(20),
    compras integer NOT NULL,
    fecha_registro date NOT NULL,
    activo boolean NOT NULL
);


--
-- Name: api_reporte; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.api_reporte (
    id_reporte integer NOT NULL,
    tipo_reporte character varying(50) NOT NULL,
    fecha timestamp with time zone NOT NULL,
    total_vendido numeric(10,2) NOT NULL
);


--
-- Name: api_reporte_id_reporte_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.api_reporte ALTER COLUMN id_reporte ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_reporte_id_reporte_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_reporteproductosvendidos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.api_reporteproductosvendidos (
    id bigint NOT NULL,
    producto_mas_vendido character varying(100) NOT NULL,
    cantidad integer NOT NULL,
    reporte_id integer NOT NULL
);


--
-- Name: api_reporteproductosvendidos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.api_reporteproductosvendidos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_reporteproductosvendidos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.api_usuarios (
    id_usuario integer NOT NULL,
    contrasena character varying(255) NOT NULL
);


--
-- Name: auditoria_auditlog; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auditoria_auditlog (
    id bigint NOT NULL,
    accion character varying(10) NOT NULL,
    modelo character varying(100) NOT NULL,
    objeto_id character varying(50) NOT NULL,
    cambios jsonb,
    fecha timestamp with time zone NOT NULL,
    usuario_id bigint,
    objeto_nombre character varying(255)
);


--
-- Name: auditoria_auditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auditoria_auditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auditoria_auditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientes_clientes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.clientes_clientes (
    cedula character varying(20) NOT NULL,
    direccion text,
    correo character varying(100),
    nombre_cliente character varying(100) NOT NULL,
    telefono character varying(20),
    compras integer NOT NULL,
    fecha_registro date NOT NULL,
    activo boolean NOT NULL
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


--
-- Name: productos_producto; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.productos_producto (
    id_producto integer NOT NULL,
    nombre character varying(100) NOT NULL,
    precio numeric(10,2) NOT NULL,
    stock_total integer NOT NULL,
    stock_minimo integer NOT NULL,
    activo boolean NOT NULL,
    categoria_id integer NOT NULL,
    creado_por_id bigint,
    editado_por_id bigint
);


--
-- Name: productos_producto_id_producto_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.productos_producto ALTER COLUMN id_producto ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.productos_producto_id_producto_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_passwordresettoken; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios_passwordresettoken (
    id bigint NOT NULL,
    token uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


--
-- Name: usuarios_passwordresettoken_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.usuarios_passwordresettoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_passwordresettoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_rol; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios_rol (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL
);


--
-- Name: usuarios_rol_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.usuarios_rol ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_rol_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_usuario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios_usuario (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    foto_url character varying(400),
    activo boolean NOT NULL,
    cedula character varying(20),
    rol_id bigint,
    codigo_reset character varying(6),
    codigo_reset_expira timestamp with time zone,
    creado_por_id bigint,
    debe_cambiar_password boolean NOT NULL,
    eliminado_por_id bigint,
    modificado_por_id bigint
);


--
-- Name: usuarios_usuario_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios_usuario_groups (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    group_id integer NOT NULL
);


--
-- Name: usuarios_usuario_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.usuarios_usuario_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_usuario_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.usuarios_usuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_usuario_user_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios_usuario_user_permissions (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: usuarios_usuario_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.usuarios_usuario_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_usuario_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ventas_detalleventa; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ventas_detalleventa (
    id_detalle integer NOT NULL,
    cantidad integer NOT NULL,
    precio numeric(10,2),
    producto_id integer NOT NULL,
    venta_id integer NOT NULL,
    CONSTRAINT ventas_detalleventa_cantidad_check CHECK ((cantidad >= 0))
);


--
-- Name: ventas_detalleventa_id_detalle_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ventas_detalleventa ALTER COLUMN id_detalle ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ventas_detalleventa_id_detalle_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ventas_venta; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ventas_venta (
    id_venta integer NOT NULL,
    fecha timestamp with time zone NOT NULL,
    cliente_id character varying(20),
    usuario_id bigint,
    total numeric(12,2) NOT NULL,
    efectivo_recibido numeric(12,2),
    metodo_pago character varying(50)
);


--
-- Name: ventas_venta_id_venta_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ventas_venta ALTER COLUMN id_venta ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ventas_venta_id_venta_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: api_categoria; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.api_categoria (id_categoria, nombre_categoria, activo) FROM stdin;
34	materas	t
35	semillas	t
1	rosas	f
\.


--
-- Data for Name: api_clientes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.api_clientes (cedula, direccion, correo, nombre_cliente, telefono, compras, fecha_registro, activo) FROM stdin;
\.


--
-- Data for Name: api_reporte; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.api_reporte (id_reporte, tipo_reporte, fecha, total_vendido) FROM stdin;
\.


--
-- Data for Name: api_reporteproductosvendidos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.api_reporteproductosvendidos (id, producto_mas_vendido, cantidad, reporte_id) FROM stdin;
\.


--
-- Data for Name: api_usuarios; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.api_usuarios (id_usuario, contrasena) FROM stdin;
\.


--
-- Data for Name: auditoria_auditlog; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_group (id, name) FROM stdin;
1	Administrador
2	Vendedor
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: clientes_clientes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.clientes_clientes (cedula, direccion, correo, nombre_cliente, telefono, compras, fecha_registro, activo) FROM stdin;
1025141422	calle 81 # 96 -65 sur	mimin1@gmail.com	maria	313337432	0	2026-04-21	t
987654321	Calle 10 # 5-20	test@correo.com	Cliente Test	3001234567	0	2026-05-25	f
102514123	calle 81 # 96 -65 sur	alejandroguxman381@gmail.com	jonathan	3133374389	0	2026-06-05	t
1025141476	calle 81 # 96 -65 sur	fabian1@gmail.com	fabian	3133374383	0	2026-04-21	f
1025141479	calle 81 # 96 -65 sur	alejandroguxman381@gmail.com	alejandro	3133374380	5	2026-04-21	t
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	api	reporte
7	api	reporteproductosvendidos
8	api	clientes
9	api	usuarios
10	api	categoria
11	usuarios	rol
12	usuarios	usuario
13	productos	producto
14	clientes	clientes
15	ventas	venta
16	ventas	detalleventa
17	auditoria	auditlog
18	api	passwordresettoken
19	usuarios	passwordresettoken
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: productos_producto; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: usuarios_passwordresettoken; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.usuarios_passwordresettoken (id, token, created_at, user_id) FROM stdin;
1	3d8cf084-7bb1-4ae0-9ff9-ff75dc99b37d	2026-04-07 22:19:17.242891+00	1
2	0776128c-c209-489c-a44a-3e6759cd20cc	2026-04-07 22:22:12.46593+00	1
3	3305ed4c-7359-4e05-8cd4-ddb28ef7d5b1	2026-04-07 22:37:49.925017+00	1
4	33310a44-436b-4cec-ba33-370b3bce85f4	2026-04-07 22:41:40.994827+00	1
5	3aca770e-8f7e-4180-91ef-74603ebf99ee	2026-04-07 22:52:18.583575+00	1
6	8681146f-176f-4a27-84ef-e05df90303a9	2026-04-07 22:55:33.198536+00	1
7	11823772-bfff-4e80-875e-3aa1612f7606	2026-04-07 22:57:23.525188+00	1
\.


--
-- Data for Name: usuarios_rol; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.usuarios_rol (id, nombre) FROM stdin;
\.


--
-- Data for Name: usuarios_usuario; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: usuarios_usuario_groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.usuarios_usuario_groups (id, usuario_id, group_id) FROM stdin;
42	44	2
43	1	1
49	50	2
82	83	1
83	84	1
85	84	2
86	85	1
87	35	2
88	87	2
89	87	1
122	120	2
\.


--
-- Data for Name: usuarios_usuario_user_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.usuarios_usuario_user_permissions (id, usuario_id, permission_id) FROM stdin;
\.


--
-- Data for Name: ventas_detalleventa; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ventas_venta; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: api_categoria_id_categoria_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.api_categoria_id_categoria_seq', 35, true);


--
-- Name: api_reporte_id_reporte_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.api_reporte_id_reporte_seq', 1, false);


--
-- Name: api_reporteproductosvendidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.api_reporteproductosvendidos_id_seq', 1, false);


--
-- Name: auditoria_auditlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auditoria_auditlog_id_seq', 332, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 33, true);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 76, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 240, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 19, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 87, true);


--
-- Name: productos_producto_id_producto_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.productos_producto_id_producto_seq', 140, true);


--
-- Name: usuarios_passwordresettoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuarios_passwordresettoken_id_seq', 7, true);


--
-- Name: usuarios_rol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuarios_rol_id_seq', 1, false);


--
-- Name: usuarios_usuario_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuarios_usuario_groups_id_seq', 154, true);


--
-- Name: usuarios_usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuarios_usuario_id_seq', 152, true);


--
-- Name: usuarios_usuario_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuarios_usuario_user_permissions_id_seq', 1, false);


--
-- Name: ventas_detalleventa_id_detalle_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.ventas_detalleventa_id_detalle_seq', 182, true);


--
-- Name: ventas_venta_id_venta_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.ventas_venta_id_venta_seq', 175, true);


--
-- Name: api_categoria api_categoria_nombre_categoria_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.api_categoria
    ADD CONSTRAINT api_categoria_nombre_categoria_key UNIQUE (nombre_categoria);


--
-- Name: api_categoria api_categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.api_categoria
    ADD CONSTRAINT api_categoria_pkey PRIMARY KEY (id_categoria);


--
-- Name: api_clientes api_cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.api_clientes
    ADD CONSTRAINT api_cliente_pkey PRIMARY KEY (cedula);


--
-- Name: api_reporte api_reporte_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.api_reporte
    ADD CONSTRAINT api_reporte_pkey PRIMARY KEY (id_reporte);


--
-- Name: api_reporteproductosvendidos api_reporteproductosvendidos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.api_reporteproductosvendidos
    ADD CONSTRAINT api_reporteproductosvendidos_pkey PRIMARY KEY (id);


--
-- Name: api_usuarios api_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.api_usuarios
    ADD CONSTRAINT api_usuario_pkey PRIMARY KEY (id_usuario);


--
-- Name: auditoria_auditlog auditoria_auditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auditoria_auditlog
    ADD CONSTRAINT auditoria_auditlog_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: clientes_clientes clientes_clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clientes_clientes
    ADD CONSTRAINT clientes_clientes_pkey PRIMARY KEY (cedula);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: productos_producto productos_producto_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos_producto
    ADD CONSTRAINT productos_producto_pkey PRIMARY KEY (id_producto);


--
-- Name: usuarios_passwordresettoken usuarios_passwordresettoken_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_passwordresettoken
    ADD CONSTRAINT usuarios_passwordresettoken_pkey PRIMARY KEY (id);


--
-- Name: usuarios_rol usuarios_rol_nombre_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_rol
    ADD CONSTRAINT usuarios_rol_nombre_key UNIQUE (nombre);


--
-- Name: usuarios_rol usuarios_rol_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_rol
    ADD CONSTRAINT usuarios_rol_pkey PRIMARY KEY (id);


--
-- Name: usuarios_usuario usuarios_usuario_cedula_6e40509a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_cedula_6e40509a_uniq UNIQUE (cedula);


--
-- Name: usuarios_usuario_groups usuarios_usuario_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_groups_pkey PRIMARY KEY (id);


--
-- Name: usuarios_usuario_groups usuarios_usuario_groups_usuario_id_group_id_4ed5b09e_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_groups_usuario_id_group_id_4ed5b09e_uniq UNIQUE (usuario_id, group_id);


--
-- Name: usuarios_usuario usuarios_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_pkey PRIMARY KEY (id);


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_user_pe_usuario_id_permission_id_217cadcd_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_user_pe_usuario_id_permission_id_217cadcd_uniq UNIQUE (usuario_id, permission_id);


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: usuarios_usuario usuarios_usuario_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_username_key UNIQUE (username);


--
-- Name: ventas_detalleventa ventas_detalleventa_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ventas_detalleventa
    ADD CONSTRAINT ventas_detalleventa_pkey PRIMARY KEY (id_detalle);


--
-- Name: ventas_venta ventas_venta_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ventas_venta
    ADD CONSTRAINT ventas_venta_pkey PRIMARY KEY (id_venta);


--
-- Name: api_categoria_nombre_categoria_00353524_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX api_categoria_nombre_categoria_00353524_like ON public.api_categoria USING btree (nombre_categoria varchar_pattern_ops);


--
-- Name: api_cliente_cedula_3784ac97_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX api_cliente_cedula_3784ac97_like ON public.api_clientes USING btree (cedula varchar_pattern_ops);


--
-- Name: api_reporteproductosvendidos_reporte_id_de23fe7a; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX api_reporteproductosvendidos_reporte_id_de23fe7a ON public.api_reporteproductosvendidos USING btree (reporte_id);


--
-- Name: auditoria_auditlog_usuario_id_10036f54; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auditoria_auditlog_usuario_id_10036f54 ON public.auditoria_auditlog USING btree (usuario_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: clientes_clientes_cedula_ffa64315_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX clientes_clientes_cedula_ffa64315_like ON public.clientes_clientes USING btree (cedula varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: productos_producto_categoria_id_1fef506a; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX productos_producto_categoria_id_1fef506a ON public.productos_producto USING btree (categoria_id);


--
-- Name: productos_producto_creado_por_id_6ad29e0b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX productos_producto_creado_por_id_6ad29e0b ON public.productos_producto USING btree (creado_por_id);


--
-- Name: productos_producto_editado_por_id_4818f191; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX productos_producto_editado_por_id_4818f191 ON public.productos_producto USING btree (editado_por_id);


--
-- Name: unique_email_no_null; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX unique_email_no_null ON public.usuarios_usuario USING btree (email) WHERE (email IS NOT NULL);


--
-- Name: usuarios_passwordresettoken_user_id_3c97028d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_passwordresettoken_user_id_3c97028d ON public.usuarios_passwordresettoken USING btree (user_id);


--
-- Name: usuarios_rol_nombre_96a030f6_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_rol_nombre_96a030f6_like ON public.usuarios_rol USING btree (nombre varchar_pattern_ops);


--
-- Name: usuarios_usuario_cedula_6e40509a_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_usuario_cedula_6e40509a_like ON public.usuarios_usuario USING btree (cedula varchar_pattern_ops);


--
-- Name: usuarios_usuario_creado_por_id_e1928e56; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_usuario_creado_por_id_e1928e56 ON public.usuarios_usuario USING btree (creado_por_id);


--
-- Name: usuarios_usuario_eliminado_por_id_5edaa56b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_usuario_eliminado_por_id_5edaa56b ON public.usuarios_usuario USING btree (eliminado_por_id);


--
-- Name: usuarios_usuario_groups_group_id_e77f6dcf; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_usuario_groups_group_id_e77f6dcf ON public.usuarios_usuario_groups USING btree (group_id);


--
-- Name: usuarios_usuario_groups_usuario_id_7a34077f; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_usuario_groups_usuario_id_7a34077f ON public.usuarios_usuario_groups USING btree (usuario_id);


--
-- Name: usuarios_usuario_modificado_por_id_c33bde81; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_usuario_modificado_por_id_c33bde81 ON public.usuarios_usuario USING btree (modificado_por_id);


--
-- Name: usuarios_usuario_rol_id_b0d64932; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_usuario_rol_id_b0d64932 ON public.usuarios_usuario USING btree (rol_id);


--
-- Name: usuarios_usuario_user_permissions_permission_id_4e5c0f2f; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_usuario_user_permissions_permission_id_4e5c0f2f ON public.usuarios_usuario_user_permissions USING btree (permission_id);


--
-- Name: usuarios_usuario_user_permissions_usuario_id_60aeea80; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_usuario_user_permissions_usuario_id_60aeea80 ON public.usuarios_usuario_user_permissions USING btree (usuario_id);


--
-- Name: usuarios_usuario_username_be9def2b_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX usuarios_usuario_username_be9def2b_like ON public.usuarios_usuario USING btree (username varchar_pattern_ops);


--
-- Name: ventas_detalleventa_producto_id_a820c807; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ventas_detalleventa_producto_id_a820c807 ON public.ventas_detalleventa USING btree (producto_id);


--
-- Name: ventas_detalleventa_venta_id_c370bcd7; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ventas_detalleventa_venta_id_c370bcd7 ON public.ventas_detalleventa USING btree (venta_id);


--
-- Name: ventas_venta_cliente_id_85f33a80; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ventas_venta_cliente_id_85f33a80 ON public.ventas_venta USING btree (cliente_id);


--
-- Name: ventas_venta_cliente_id_85f33a80_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ventas_venta_cliente_id_85f33a80_like ON public.ventas_venta USING btree (cliente_id varchar_pattern_ops);


--
-- Name: ventas_venta_usuario_id_a710a973; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ventas_venta_usuario_id_a710a973 ON public.ventas_venta USING btree (usuario_id);


--
-- Name: api_reporteproductosvendidos api_reporteproductos_reporte_id_de23fe7a_fk_api_repor; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.api_reporteproductosvendidos
    ADD CONSTRAINT api_reporteproductos_reporte_id_de23fe7a_fk_api_repor FOREIGN KEY (reporte_id) REFERENCES public.api_reporte(id_reporte) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auditoria_auditlog auditoria_auditlog_usuario_id_10036f54_fk_usuarios_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auditoria_auditlog
    ADD CONSTRAINT auditoria_auditlog_usuario_id_10036f54_fk_usuarios_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id FOREIGN KEY (user_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: productos_producto productos_producto_categoria_id_1fef506a_fk_api_categ; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos_producto
    ADD CONSTRAINT productos_producto_categoria_id_1fef506a_fk_api_categ FOREIGN KEY (categoria_id) REFERENCES public.api_categoria(id_categoria) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: productos_producto productos_producto_creado_por_id_6ad29e0b_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos_producto
    ADD CONSTRAINT productos_producto_creado_por_id_6ad29e0b_fk_usuarios_ FOREIGN KEY (creado_por_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: productos_producto productos_producto_editado_por_id_4818f191_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos_producto
    ADD CONSTRAINT productos_producto_editado_por_id_4818f191_fk_usuarios_ FOREIGN KEY (editado_por_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_passwordresettoken usuarios_passwordres_user_id_3c97028d_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_passwordresettoken
    ADD CONSTRAINT usuarios_passwordres_user_id_3c97028d_fk_usuarios_ FOREIGN KEY (user_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario usuarios_usuario_creado_por_id_e1928e56_fk_usuarios_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_creado_por_id_e1928e56_fk_usuarios_usuario_id FOREIGN KEY (creado_por_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario usuarios_usuario_eliminado_por_id_5edaa56b_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_eliminado_por_id_5edaa56b_fk_usuarios_ FOREIGN KEY (eliminado_por_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_groups usuarios_usuario_gro_usuario_id_7a34077f_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_gro_usuario_id_7a34077f_fk_usuarios_ FOREIGN KEY (usuario_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_groups usuarios_usuario_groups_group_id_e77f6dcf_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_groups_group_id_e77f6dcf_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario usuarios_usuario_modificado_por_id_c33bde81_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_modificado_por_id_c33bde81_fk_usuarios_ FOREIGN KEY (modificado_por_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario usuarios_usuario_rol_id_b0d64932_fk_usuarios_rol_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_rol_id_b0d64932_fk_usuarios_rol_id FOREIGN KEY (rol_id) REFERENCES public.usuarios_rol(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_use_permission_id_4e5c0f2f_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_use_permission_id_4e5c0f2f_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_use_usuario_id_60aeea80_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_use_usuario_id_60aeea80_fk_usuarios_ FOREIGN KEY (usuario_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ventas_detalleventa ventas_detalleventa_producto_id_a820c807_fk_productos; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ventas_detalleventa
    ADD CONSTRAINT ventas_detalleventa_producto_id_a820c807_fk_productos FOREIGN KEY (producto_id) REFERENCES public.productos_producto(id_producto) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ventas_detalleventa ventas_detalleventa_venta_id_c370bcd7_fk_ventas_venta_id_venta; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ventas_detalleventa
    ADD CONSTRAINT ventas_detalleventa_venta_id_c370bcd7_fk_ventas_venta_id_venta FOREIGN KEY (venta_id) REFERENCES public.ventas_venta(id_venta) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ventas_venta ventas_venta_cliente_id_85f33a80_fk_clientes_clientes_cedula; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ventas_venta
    ADD CONSTRAINT ventas_venta_cliente_id_85f33a80_fk_clientes_clientes_cedula FOREIGN KEY (cliente_id) REFERENCES public.clientes_clientes(cedula) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ventas_venta ventas_venta_usuario_id_a710a973_fk_usuarios_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ventas_venta
    ADD CONSTRAINT ventas_venta_usuario_id_a710a973_fk_usuarios_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 62N6T777gd27ms5laFWnwEmGNPW0hVgdsNqEoTgSYSe7TaYu9674fuKeg6IF7y8

